//colors
$white: #fff;
$black: #000;
$color1: #ccd;
$color2: #ffd700;
$color3: #b8860b;
$color4: #4169e1;
$color5: #999;
$color6: #ccc;
$color7: #eee;
$color8: #666;
$color9: #333;
$color10: #212121;